@model Model.UserRequest

@{
    ViewData["Title"] = "Profile";
}
<style>
    h1{
        font-size: 1.5em;
    text-align: center;
    background-color: antiquewhite;
    font-family: monospace;
}

    .row1{
            display: grid;
    grid-template-columns: 1fr 1fr;
    length: 100%;
    grid-gap: 25px;
    width: 100%;
    justify-items: center;
    background-color: cadetblue;
    font-family: cursive;
    }

</style>

<h1>Profile</h1>

<div>
 
    <dl class="row row1">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userStatus)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        
    </dl>
</div>

