@using Model
@model Model.UserRequest

@{
    ViewData["Title"] = "Edit";
}
<style>
    .edit{
        background-color: cadetblue;
    color: aliceblue;
    text-align: center;
    }
    .form1{
            display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    font-size: 22px;
    margin-top: 8px;
    background-color: beige;
    }

    .form-group{
        margin:3px;
    }
    .form-control{
        margin-left: 12px;
    width: 300px;
    border-radius: 9px;
    padding:12px;
    font-size:17px;
}
.btn-primary{
    margin-bottom:22px;
            background-color: antiquewhite;
            color:cadetblue;
}
.radio{
    width: 29%;
    padding: 12px;
    border-radius: 9px;
    font-size: 17px;
    margin-left: 5px;
}
    
</style>

<h1 class="edit">Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div>
                <input asp-for="Id" hidden value="@Model.Id" class="form-control" />

           </div>


           <div class="form1">


       

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" value="@Model.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" value="@Model.Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="radio" asp-items="@Html.GetEnumSelectList<Gender>()">  </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userRole" class="control-label"></label>
                <select asp-for="userRole" class="radio" asp-items="@Html.GetEnumSelectList<UserRole>()">  </select>
                <span asp-validation-for="userRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userStatus" class="control-label"></label>
                <select asp-for="userStatus" class="radio" asp-items="@Html.GetEnumSelectList<UserStatus>()">  </select>
                <span asp-validation-for="userStatus" class="text-danger"></span>
            </div>            <div class="form-group">

            
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" value="@Model.Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">

                 
                 <input asp-for="_password" value="@Model._password" class="form-control" />
                 
             
            </div>
             <div class="form-group">
                    <input asp-for="_pin" value="@Model._pin" class="form-control" />
                 </div>
            

           
               
           

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
           </div>
           <div>
    <a href="/admin" style="">Back to List</a>
</div>
        </form>
    </div>
</div>




